.button
	background: linear-gradient(top, #F0F0F2, #CCC5C0)
	border:none
	padding: .2em .3em
	border-radius:50px
	font-weight:bold
	color:rgb(119,118,133)!important;
	text-align:left;
	text-shadow:0px -1px 0px rgba(255,255,255,0.9)
	box-shadow inset 0 1px rgba(255,255,255,.5), 0 1px rgba(0,0,0,.4), inset 0 -2px 6px rgba(0,0,0,.02)
	text-decoration none
	&.big
		font-size:21px
		padding: .3em .8em