@import 'nib'
.wooden-field
	background: linear-gradient(top, #E7E4E2, #F4F2F1 )
	box-shadow:  0 1px rgba(255,255,255,.9), 0 -1px 1px rgba(0,0,0,.5)
	border: none
	border-radius:50px
	font-size: 18px
	padding: .2em .3em
	white-space:nowrap
	margin:.9em 0!important
	text-shadow: 0 1px rgba(0,0,0,.5)
	label
		display: inline-block
		font-size: 1.4em
		margin-right:.2em
		width:1.2em
		text-align:center
	input
		width:80%
		background: none
		border: none
		display: inline-block