@import 'nib'

.ribbon
    display block
    // width:100
    padding: 10px 0
    background: url(/images/ribbon-sewn.png) repeat-x 0 4px,  url(/images/ribbon-sewn.png) repeat-x 0 54px, linear-gradient(top,rgb(98,171,207),rgb(77,157,195))
    text-shadow: 0 -1px rgba(0,0,0,.5)
    text-align center
    font-size 1.6em
    line-height 40px
    color white

.ribbon-button
    color:white
    font-weight bold
    border: 1px solid rgba(55,84,132,.6)
    padding .5em .8em
    background linear-gradient(top,rgb(98,171,207),rgb(77,157,195))
    border-radius 3px
    line-height: 1
    box-shadow inset 0 1px 2px rgba(255, 255, 255, .2), 0 1px rgba(255, 255, 255, .3)