@import 'nib'

#level-selector 
    text-align:center

.button.level-button
    line-height: 12px
    padding .5em .6em
    display block
    margin .6em auto
    width 70%
    i
        font-size 1.5em
        margin-right 10px
        @line-height

// &:after, &:before
//   position absolute
//   content ''
//   background blue
//   height 20px
//   left 0
//   right 0
//   display block
// &:after
//   top 0
// &:before
//   bottom 0
