@import 'nib'
@import '_vars'

.game
    .status
        font-size 5.4em
        width 100%
        position absolute
        z-index 10000
        top 50%
        text-align center
        margin-top -1em
        font-family header-font
        line-height 1em
        text-shadow 0 -2px 6px rgba(255,255,255,.2), 0 2px 8px rgba(0, 0, 0, 0.30)
        >*
            display none
        text-transform uppercase
    .gameover
        color rgba(252, 50, 50, .8)
    .finish
        color rgba(57, 153, 44, .8)
    .pause
        color rgba(255, 160, 0, .8)