@import 'nib'
@import '_vars'

.game
    .status
        font-size 5.4em
        width 100%
        position absolute
        top 50%
        text-align center
        margin-top -1em
        font-family header-font
        line-height 1em
        text-shadow 0 -2px rgba(255,255,255,.6), 0 2px 6px rgba(0, 0, 0, 0.30)
        >*
            display none
        text-transform uppercase
    .gameover
        color #fe2828
    .finish
        color rgb(57,153,44)
