@import 'nib'
@import '_ribbon'
@import '_vars'

.games
    // @extends .wide-screen
    user-select: none
.game
    // @extends .wide-screen
    display none
    .round, .help
        font-family write-font
        display block
        
    .word, .hint
        color white
        font-size 3.5em
        display block
        font-weight 700
        text-shadow 0 1px 4px rgba(0,0,0,.6)
    
    .hint
        font-size 1.8em

    &.active
        display block
    header
        @extends .ribbon
        background: url(/images/ribbon-sewn.png) repeat-x 0 55px, linear-gradient(top,rgb(98,171,207),rgb(77,157,195))
        position relative
        box-shadow:0px 1px 8px rgba(0,0,0,0.2);
        font-family header-font
        height 40px
        line-height 38px
        padding-left 20px
        padding-right 10px
        font-size 1.2em
        @media(max-width:480px)
            &  
                font-size 1em
                background: url(/images/ribbon-sewn.png) repeat-x 0 43px, linear-gradient(top,rgb(98,171,207),rgb(77,157,195))
                position relative
                box-shadow:0px 1px 8px rgba(0,0,0,0.2);
                font-family header-font
                height 28px
                line-height 24px
        .points
            float left
            b
                font-weight normal
                opacity .5
        .lifes
            float right
            list-style none
            margin 0
            padding 0
        .life
            float left
            .inactive
                display none
            &.consumed
                .active
                    display none
                .inactive
                    display block
        .time
            font-size 1.8em
            width 110px
            text-align left
            display inline-block
            b
                font-weight normal
                opacity .5

    .image
        background: white;
        padding: 2% 1% 4%;
        max-width: 40%
        display: block;
        transform: rotate(-5deg);
        box-shadow 0 2px 6px rgba(0,0,0,.35)
        margin 1.5em auto
    
    .choices
        margin .8em .5em
        padding 0

    .note
        cursor: pointer
        padding .5em .2em
        margin .35em .7em
        text-align center
        width 220px
        min-width 40%
        font-size 2em
        font-family write-font
        list-style none
        border 1px solid #DCD8C1
        box-shadow:0px 1px 3px rgba(79,75,65,0.4);
        display inline-block
        background linear-gradient(top,rgb(250,249,241),rgb(247,244,221))
        border-radius 0%/1%;
        color #656152
        position relative
        i
            top 0
            left 0
            width 100%
            position absolute
            font-size 3em
            line-height .85em
            right 0
            text-align center
            display none
            // opacity .5
            text-shadow 0 0 10px rgba(250,249,241,.3)
        i.icon-remove
            color rgba(254,40,40,.7)
        i.icon-ok
            color rgba(57,153,44,.7)

@media (max-width: 480px)
    .rounds, .menu
        font-size .8em!important
        // .note
        //     padding .3em .4em
        //     margin .2em .4em

.rounds
    position absolute
    top 60px
    left 0
    right 0
    bottom 68px

    >*
        position absolute
        top 0
        left 0
        display none
        width 100%
        height 100%
    >.active
        display table
.auto-center
    display table-cell
    vertical-align middle
    text-align center