@import 'nib'

#home-games 
	list-style none
	padding 0
	margin 0
	li
		width:49.5%
		padding 0
		margin 20px 0
		display: inline-block
		text-align center
		b
			display block
			font-weight normal
			font-size 1.5em
			color #666
		img
			max-width 90%
	a
		text-decoration none