[submodule "build/uspeak-cordova"]
	path = build/uspeak-cordova
	url = git@github.com:uspeak/uspeak-cordova.git
[submodule "build/uspeak-web"]
	path = build/uspeak-web
	url = git@github.com:uspeak/uspeak-web.git
