<h2>Login</h2>
<form id="login-form">
	<p class="wooden-field"><label class="icon-user"></label><input type="text" id="login-user" placeholder="Nombre de usuario" /></p>
	<p class="wooden-field"><label class="icon-key"></label><input type="text" id="login-pass" class="wooden-input" placeholder="Contraseña" /></p>
	<button class="button big" id="button-login">Entrar</button>
	<p>
		<a class="forgot-password" href="/recover">Has olvidado la contraseña?</>
	</p>
</form>
