<h2>Recuperar cuenta</h2>
<form id="recover-form">
	<p class="wooden-field"><label class="icon-envelope-alt"></label><input type="text" placeholder="Email" /></p>
	<button class="button big">Recuperar</button>
</form>
