<a class="exit"><i class="icon-chevron-left"></i></a>
<a class="help">?</a>
<a class="pause"><i class="{{#if author}}icon-pause{{else}}icon-play{{/if}}"></i></a> 
<a class="sound"><i class="{{#if author}}icon-volume-off{{else}}icon-volume-up{{/if}}"></i></a>
