<a class="exit" href="/home"><i class="icon-chevron-left"></i></a>
<!-- <a class="help">?</a>
 --><a class="pause"><i class="icon-pause"></i></a> 
<!-- <a class="sound"><i class="icon-volume-off"></i></a>
 -->