<span class="points"></span>
<span class="time"></span>
<ul class="lifes">
	<li class="life">
		<i class="icon-heart active"></i><i class="icon-heart-empty inactive"></i>
	</li>
	<li class="life">
		<i class="icon-heart active"></i><i class="icon-heart-empty inactive"></i>
	</li>
	<li class="life">
		<i class="icon-heart active"></i><i class="icon-heart-empty inactive"></i>
	</li>
</ul>
