<ul id="home-games">
	<li><img src="/images/games/yayornay.png"/><b>yay or nay</b></li>
	<li><img src="/images/games/association.png"/><b>association</b></li>
	<li><a href="/play/fatfingers"><img src="/images/games/fatfingers.png"/><b>fat fingers</b></a></li>
	<li><a href="/play/whichone"><img src="/images/games/whichone.png"/><b>which one</b></a></li>
	<li><a href="/play/flipcards"><img src="/images/games/flipcards.png"/><b>flip cards</b></a></li>
	<li><img src="/images/games/blocked.png"/><b>challenge</b></li>
</ul>
