<ul id="home-games">
	<li><a href="/play/yayornay"><img src="images/games/yayornay.png"/></a></li>
	<li><a href="/play/association"><img src="images/games/association.png"/></a></li>
	<li><a href="/play/fatfingers"><img src="images/games/fatfingers.png"/></a></li>
	<li><a href="/play/whichone"><img src="images/games/whichone.png"/></a></li>
	<li><a href="/play/flipcards"><img src="images/games/flipcards.png"/></a></li>
<!-- 	<li><img src="images/games/blocked.png"/><b>challenge</b></li>
 --></ul>
