@import 'nib'

.game-association
    .note
        width 165px
        height 65px
        line-height 68px
        background url('../images/games/note_small.png') no-repeat center center
        font-size 22px
